services:
  # Backend Service
  - type: web
    name: movie-backend
    runtime: node
    branch: main
    rootDir: backend
    buildCommand: |
      npm install
      pip3 install -r requirements.txt
    startCommand: "node server.js"
    plan: free
    buildFilter:
      paths:
        - backend/**
        - backend/Model/**

  # Frontend Service (Static)
  - type: web
    name: movie-frontend
    runtime: static
    branch: main
    rootDir: client
    buildCommand: "npm install && npm run build"
    staticPublishPath: "dist"
    buildFilter:
      paths:
        - client/**
