services:
  - type: web
    name: movie-backend
    env: node
    branch: main
    rootDir: backend
    buildCommand: |
      npm install
      pip3 install -r ../Model/artifacts/requirements.txt
    startCommand: "node server.js"
    plan: free
    buildFilter:
      paths:
        - backend/**
        - Model/**

  - type: static
    name: movie-frontend
    branch: main
    rootDir: client
    buildCommand: "npm install && npm run build"
    publishPath: "dist"
    plan: free
