services:
  - type: web
    name: movie-backend
    env: node
    branch: main
    rootDir: backend
    buildCommand: "npm install"
    startCommand: "node server.js"
    runtime: node
    plan: free
    envVars:
      - key: PYTHON_PATH
        value: /opt/render/project/src/backend/Model/artifacts/recommender.py
    buildFilter:
      paths:
        - backend/**
        - Model/**

  - type: web
    name: movie-frontend
    env: static
    branch: main
    rootDir: client
    buildCommand: "npm install && npm run build"
    publishPath: "client/dist"
    plan: free
